<div class="row">

    <div class="col-sm-6  col-md-12 divMargin ">
   <p class="ejemplo" style="float: right">  ejemplo : 56 9 71576339</p>
    </div>


<div id="autoComplete" class="col-sm-6  col-md-6 divMargin ">
<md-autocomplete
ng-disabled="isDisabled"
md-no-cache="noCache"
md-selected-item="selectedItem"
md-search-text-change="searchTextChange(searchText)"
md-search-text="searchText"
md-selected-item-change="selectedItemChange(item)"
md-items="item in querySearch(searchText)"
md-item-text="item.telefono"
md-min-length="1"
placeholder="Numero de telefono "
input-aria-labelledby="favoriteStateLabel"
input-aria-describedby="autocompleteDetailedDescription">
<md-item-template>
<span md-highlight-text="searchText" md-highlight-flags="^i">{{item.telefono}} - {{item.nombre}} {{item.apellido}}</span>
</md-item-template>
<!-- <md-not-found>
no existe "{{searchText}}"
<a ng-click="newState(searchText)">Create uno nuevo!</a>
</md-not-found> -->
</md-autocomplete>
</div>
<div class="col-xs-6 col-sm-6 col-md-6 divMargin">
    <input
    placeholder="Nombre" class="inputButton" ng-model='nombre' >
</div>
<div class="col-xs-6 col-sm-6 col-md-6 divMargin">
    <input  placeholder="apellido" class="inputButton" ng-model='apellido' >
</div>
<div class="col-xs-12 col-md-6 divMargin">
    <input  placeholder="correo" class="inputButton" ng-model='correo' >
</div>
<div class="col-xs-12 col-md-6 divMargin">
    <input  placeholder="direccion" class="inputButton" ng-model='direccion' >
</div>
<div  class="col-xs-3 col-md-6 " >
        <button ng-click="guardarOrden()" style="float: right" class="btn  btn-primary">crear</button>
</div>

</div>

